<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <% if(typeof(errors) != 'undefined' && errors.length > 0){ %>
		<fieldset>
			<legend>Errors</legend>
			<ul>
			<%errors.forEach(function(error){%>
				<li><%= error %></li>
			<% }) %>
			</ul>
		</fieldset>
	<% } %>

  <form action="/register" method="POST" style="text-align: -webkit-center; margin-top: 140px">
    <fieldset style="width: 40%; text-align: left;">
    <h1><legend>Register</legend></h1>
      <h3>Email: <input type="email" name="email"></h3>
      <h3>First Name: <input type="text" name="first_name"></h3>
      <h3>Last Name: <input type="text" name="last_name"></h3>
      <h3>Password: <input type="password" name="password"></h3>
      <h3>Confirm Password: <input type="password" name="pw_confirm"></h3>
      <h3>Birthday: <input type="date" name="birthday"></h3>
      <button>Register</button>
    </fieldset>
  </form>

  <form action="/login" method="POST" style="text-align: -webkit-center; margin-top: 140px">
    <fieldset style="width: 30%; text-align: left;">
    <h1><legend>Login</legend></h1>
      <h3>Email: <input type="text" name="email"></h3>
      <h3>Password: <input type="text" name="password"></h3>
      <button>Login</button>
    </fieldset>
  </form>
</body>
</html>
